<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <h2>User Profile</h2>

    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet>
          <img src="/assets/img/single_user.png" class="mx-auto d-block">
      
          <div class="card m-5" style="width:18rem" *ngFor="let profile of userDetails">
            <ul class="list-group">
              <li class="list-group-item"><strong>First Name : </strong>{{profile.firstName}}</li>
              <li class="list-group-item"><strong>Last Name : </strong>{{profile.lastName}}</li>
              <li class="list-group-item"><strong>Email Address : </strong>{{profile.email}}</li>
              <li class="list-group-item"><strong>Address : </strong>{{profile.address}}</li>
              <li class="list-group-item"><strong>Phone Number : </strong>{{profile.phoneNumber}}</li>
            </ul>
          </div>
          <div class="form-group col-md-8 offset-md-2">
            <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
          </div>

      </router-outlet>
    </div>
  </div>
</div>
</div>
