<content>



   

    <div class="profile-info" style="background-image: url('/assets/image/profile-background-image.jpg');">
        <div class="profile-backgroud">
            <h1 class="title" style="color: black;font-weight: bold;font-family: monospace;">User Profile</h1>
            <div class="profile-pic">
                <img src="\assets\image\profile.png">
            </div>
            <div *ngFor="let profile of datauser">
                <label position="floating">
                    <h2>Name : {{profile.firstName}} {{profile.lastName}}</h2>
                </label>


                <label position="floating">
                    <h2>Email Address : {{profile.email}} </h2>
                </label>

                <label position="floating">
                    <h2>Address : {{profile.address}}
                    </h2>
                </label>


                <label position="floating">
                    <h2>Phone Number : {{profile.phoneNumber}} </h2>
                </label>
                
            </div>
        </div>

        <div class="logout-button">
            <button (click)="logOut()" size="small">
                <p class="signin-text-acount">Log Out</p>
            </button>
        </div>


    </div>
</content>