
.description{


    height: 40px;
    line-height: 1.2;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0 5px;
    font-size: 11px;
    color: darkgray;
}
.ae{
    display: flex;
      flex-wrap:wrap;
      justify-content:center;
}
